In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
q1df = pd. read_excel (r'Quizes/Quiz 1.xlsx', sheet_name='Sheet1')
sid1=np.array(len(q1df.index), dtype='str')
sid1=pd.DataFrame(q1df, columns=['Email']).to_numpy()
for i in range(0,len(q1df.index)):
    sid1[i][0]=sid1[i][0].split('@')
    sid1[i]=sid1[i][0][0]
score1=np.array(len(q1df.index), dtype=np.int32)
score1=pd.DataFrame(q1df, columns=['Total points']).to_numpy()


q2df = pd. read_excel (r'Quizes/Quiz 2.xlsx', sheet_name='Sheet1')
sid2=np.array(len(q2df.index), dtype='str')
sid2=pd.DataFrame(q2df, columns=['Email']).to_numpy()
for i in range(0,len(q2df.index)):
    sid2[i][0]=sid2[i][0].split('@')
    sid2[i]=sid2[i][0][0]
score2=np.array(len(q2df.index), dtype=np.int32)
score2=pd.DataFrame(q2df, columns=['Total points']).to_numpy()


q3df = pd. read_excel (r'Quizes/Quiz 3.xlsx', sheet_name='Sheet1')
sid3=np.array(len(q3df.index), dtype='str')
sid3=pd.DataFrame(q3df, columns=['Email']).to_numpy()
for i in range(0,len(q3df.index)):
    sid3[i][0]=sid3[i][0].split('@')
    sid3[i]=sid3[i][0][0]
score3=np.array(len(q3df.index), dtype=np.int32)
score3=pd.DataFrame(q3df, columns=['Total points']).to_numpy()

In [14]:
ldf = pd. read_excel (r'Lab Exam.xlsx', sheet_name='Sheet1')
sid4=np.array(len(ldf.index), dtype='str')
sid4=pd.DataFrame(ldf, columns=['Email']).to_numpy()
for i in range(0,len(ldf.index)):
    sid4[i][0]=sid4[i][0].split('@')
    sid4[i]=sid4[i][0][0]
score4=np.array(len(ldf.index), dtype=np.int32)
score4=pd.DataFrame(ldf, columns=['Total points']).to_numpy()

In [19]:
adf = pd. read_csv ('Assignment.csv')
sid5=np.array(len(adf.index), dtype='str')
sid5=pd.DataFrame(adf, columns=['Student ID']).to_numpy()
score5=np.array(len(adf.index), dtype=np.int32)
score5=pd.DataFrame(adf, columns=['Ass.']).to_numpy()
name=np.array(len(adf.index), dtype='str')
name=pd.DataFrame(adf, columns=['Name']).to_numpy()
space=" "
sname=" "
for i in range(0,len(adf.index)):
    name[i][0]=name[i][0].split(', ')
    if len(name[i][0])==2:
        sname=np.char.add(name[i][0][1],space)
        name[i]=np.char.add(sname,name[i][0][0])
    else:
        name[i]=name[i][0][0]

In [20]:
file_data = open('Attendance_files/Week 1 Lab .csv')
name0=""
rows=[100]
i=0
for row in file_data:
    row=row.split('\x00')
    rows=row
    for x in rows:
        name0+=x
    i+=1
name0=name0.split('\t')
i=0
for x in name0:
    name0[i]=x.split('\n')
    if len(name0[i])==2:
        name0[i]=name0[i][1]
    else:
        name0[i]="Empty"
    i+=1

file_data = open('Attendance_files/Week 1 Theory.csv')
name1=""
rows=[100]
i=0
for row in file_data:
    row=row.split('\x00')
    rows=row
    for x in rows:
        name1+=x
    i+=1
name1=name1.split('\t')
i=0
for x in name1:
    name1[i]=x.split('\n')
    if len(name1[i])==2:
        name1[i]=name1[i][1]
    else:
        name1[i]="Empty"
    i+=1


file_data = open('Attendance_files/Week 2 Theory.csv')
name2=""
rows=[100]
i=0
for row in file_data:
    row=row.split('\x00')
    rows=row
    for x in rows:
        name2+=x
    i+=1
name2=name2.split('\t')
i=0
for x in name2:
    name2[i]=x.split('\n')
    if len(name2[i])==2:
        name2[i]=name2[i][1]
    else:
        name2[i]="Empty"
    i+=1


file_data = open('Attendance_files/Week 4 Lab (Makeup).csv')
name3=""
rows=[100]
i=0
for row in file_data:
    row=row.split('\x00')
    rows=row
    for x in rows:
        name3+=x
    i+=1
name3=name3.split('\t')
i=0
for x in name3:
    name3[i]=x.split('\n')
    if len(name3[i])==2:
        name3[i]=name3[i][1]
    else:
        name3[i]="Empty"
    i+=1


file_data = open('Attendance_files/Week 5 Lab.csv')
name4=""
rows=[100]
i=0
for row in file_data:
    row=row.split('\x00')
    rows=row
    for x in rows:
        name4+=x
    i+=1
name4=name4.split('\t')
i=0
for x in name4:
    name4[i]=x.split('\n')
    if len(name4[i])==2:
        name4[i]=name4[i][1]
    else:
        name4[i]="Empty"
    i+=1

In [91]:
rows, cols = (len(sid5), 16)
result=[]
for i in range(rows):
    col = []
    for j in range(cols):
        col.append(0)
    result.append(col)

In [102]:
for r in range(0,len(sid5)):
    result[r][0]=sid5[r][0]
    result[r][1]=name[r][0]
    result[r][13]=score5[r][0]
    for q in range(0,len(sid1)):
        if(sid1[q][0]==result[r][0]):
            result[r][8]=score1[q][0]
        else:
            continue
    for q in range(0,len(sid2)):
        if(sid2[q][0]==result[r][0]):
            result[r][9]=score2[q][0]
        else:
            continue
    for q in range(0,len(sid3)):
        if(sid3[q][0]==result[r][0]):
            result[r][10]=score3[q][0]
        else:
            continue
    for q in range(0,len(sid4)):
        if(sid4[q][0]==result[r][0]):
            result[r][12]=score4[q][0]
        else:
            continue
    for nam in range(0,len(name0)):
        if(name0[nam]==result[r][1]):
            result[r][2]=1
        else:
            continue
    for nam in range(0,len(name1)):
        if(name1[nam]==result[r][1]):
            result[r][3]=1
        else:
            continue
    for nam in range(0,len(name2)):
        if(name2[nam]==result[r][1]):
            result[r][4]=1
        else:
            continue
    for nam in range(0,len(name3)):
        if(name3[nam]==result[r][1]):
            result[r][5]=1
        else:
            continue
    for nam in range(0,len(name4)):
        if(name4[nam]==result[r][1]):
            result[r][6]=1
        else:
            continue
for r in range(0,len(sid5)):
    result[r][7]=(result[r][2]+result[r][3]+result[r][4]+result[r][5]+result[r][6])*2
    list1=[result[r][8],result[r][9],result[r][10]]
    list1.sort()
    result[r][11]=list1[-1]+list1[-2]
    result[r][14]=result[r][13]+result[r][12]+result[r][11]+result[r][7]
    if result[r][14]>=90:
        result[r][15]='A+'
    elif result[r][14]>=85:
        result[r][15]='A'
    elif result[r][14]>=80:
        result[r][15]='B+'
    elif result[r][14]>=75:
        result[r][15]='B'
    elif result[r][14]>=70:
        result[r][15]='C+'
    elif result[r][14]>=65:
        result[r][15]='C'
    elif result[r][14]>=60:
        result[r][15]='D+'
    elif result[r][14]>=50:
        result[r][15]='D'
    else:
        result[r][15]='F'
result

[['17-34409-1',
  'KHALID MASRUR',
  1,
  1,
  0,
  1,
  1,
  8,
  0,
  8,
  17,
  25,
  18,
  17,
  68,
  'C'],
 ['17-34746-2',
  'SANJADUL ALOM PIYAS',
  0,
  0,
  1,
  1,
  1,
  6,
  12,
  6,
  15,
  27,
  21,
  15,
  69,
  'C'],
 ['17-35536-3',
  'SUMNOON-E-TAHA',
  1,
  1,
  1,
  1,
  1,
  10,
  14,
  12,
  15,
  29,
  18,
  20,
  77,
  'B'],
 ['17-35672-3',
  'MEHEDI HASAN NILOY',
  1,
  1,
  1,
  1,
  1,
  10,
  12,
  12,
  15,
  27,
  21,
  19,
  77,
  'B'],
 ['17-35677-3',
  'MUHAMMAD AL AMIN',
  1,
  1,
  1,
  1,
  1,
  10,
  16,
  14,
  15,
  31,
  24,
  19,
  84,
  'B+'],
 ['18-37027-1',
  'KHAN MD. EHSAN',
  0,
  1,
  0,
  0,
  1,
  4,
  0,
  0,
  15,
  15,
  21,
  17,
  57,
  'D'],
 ['18-37051-1',
  'HIZBULLAH ATIK SIDDIQUE',
  1,
  1,
  1,
  1,
  1,
  10,
  12,
  10,
  12,
  24,
  15,
  19,
  68,
  'C'],
 ['18-37144-1',
  'JAFRIN MONSUR KHAN',
  1,
  1,
  1,
  1,
  1,
  10,
  12,
  12,
  13,
  25,
  24,
  17,
  76,
  'B'],
 ['18-37827-2',
  'MD. FARHAN TANVIR',
  1,
  1,
  1,
  1,
  1,
  10,
  14,
  14,
  11,
  28,
  9,
  19,
  66,
  'C'],
 ['18-37912-2',
  'SAZZAD HASAN',
  1,
  1,
  1,
  1,
  1,
  10,
  14,
  12,
  9,
  26,
  21,
  18,
  75,
  'B'],
 ['18-38923-3',
  'MEHRAB HOSSAIN SHARAN',
  1,
  1,
  1,
  1,
  1,
  10,
  14,
  14,
  15,
  29,
  15,
  18,
  72,
  'C+'],
 ['18-39130-3',
  'MD. RATUL AMAN',
  1,
  1,
  1,
  1,
  1,
  10,
  12,
  10,
  14,
  26,
  15,
  20,
  71,
  'C+'],
 ['18-39243-3',
  'MD. IMRAN HOSSAIN',
  1,
  1,
  1,
  1,
  1,
  10,
  14,
  8,
  17,
  31,
  18,
  20,
  79,
  'B'],
 ['19-39342-1',
  'MD. ASIKUR RAHMAN SAUMIK',
  1,
  1,
  1,
  1,
  1,
  10,
  18,
  16,
  20,
  38,
  15,
  20,
  83,
  'B+'],
 ['19-39434-1',
  'MD. SAMIN ANJUM',
  1,
  1,
  1,
  0,
  1,
  8,
  0,
  16,
  0,
  16,
  21,
  19,
  64,
  'D+'],
 ['19-39458-1',
  'NURA YEASDANI',
  1,
  1,
  1,
  1,
  1,
  10,
  16,
  18,
  14,
  34,
  10,
  20,
  74,
  'C+'],
 ['19-39573-1',
  'LAMIA MANNAN',
  1,
  1,
  1,
  0,
  1,
  8,
  12,
  10,
  15,
  27,
  18,
  20,
  73,
  'C+'],
 ['19-39674-1',
  'TAHMID SHAHRIAR ARNOB',
  1,
  1,
  1,
  0,
  0,
  6,
  18,
  0,
  15,
  33,
  15,
  16,
  70,
  'C+'],
 ['19-40055-1',
  'ISHRAK AHMED ASIF',
  1,
  1,
  1,
  1,
  1,
  10,
  10,
  16,
  15,
  31,
  15,
  19,
  75,
  'B'],
 ['19-40186-1',
  'MOHAMMAD ALI',
  1,
  1,
  1,
  1,
  1,
  10,
  10,
  16,
  15,
  31,
  21,
  19,
  81,
  'B+'],
 ['19-40194-1',
  'HASIBUL HASSAIN',
  1,
  1,
  1,
  1,
  1,
  10,
  14,
  0,
  15,
  29,
  18,
  20,
  77,
  'B'],
 ['19-40223-1',
  'ASIF IQBAL BIN HARUN',
  1,
  1,
  1,
  1,
  1,
  10,
  20,
  14,
  17,
  37,
  10,
  20,
  77,
  'B'],
 ['19-40255-1',
  'SAIF HAQUE',
  1,
  1,
  1,
  1,
  1,
  10,
  12,
  16,
  15,
  31,
  15,
  18,
  74,
  'C+'],
 ['19-40296-1',
  'MD. AL-EMRAN PARAG',
  1,
  1,
  1,
  1,
  1,
  10,
  14,
  12,
  15,
  29,
  15,
  18,
  72,
  'C+'],
 ['19-40359-1',
  'MOHAMMAED HASIB PRANTO',
  1,
  1,
  1,
  1,
  1,
  10,
  18,
  14,
  17,
  35,
  12,
  20,
  77,
  'B'],
 ['19-40544-1',
  'READOAN KHAN RATUL',
  1,
  1,
  1,
  1,
  1,
  10,
  18,
  0,
  12,
  30,
  18,
  19,
  77,
  'B'],
 ['19-40677-1',
  'MD MEHRAB SADIK',
  1,
  0,
  1,
  0,
  1,
  6,
  14,
  8,
  18,
  32,
  21,
  12,
  71,
  'C+'],
 ['19-40683-1',
  'TAMIM SULTANA ONKITA',
  1,
  1,
  1,
  1,
  1,
  10,
  14,
  6,
  15,
  29,
  21,
  18,
  78,
  'B'],
 ['19-40703-1',
  'REHENUMA TABASSUM MEGHLA',
  1,
  1,
  1,
  1,
  1,
  10,
  16,
  6,
  18,
  34,
  21,
  17,
  82,
  'B+'],
 ['19-40751-1',
  'MD. MAHMUDUL HASAN',
  1,
  1,
  1,
  1,
  1,
  10,
  10,
  14,
  15,
  29,
  21,
  18,
  78,
  'B'],
 ['19-40804-2',
  'SAFIQUL ISLAM SOIKAT',
  1,
  1,
  1,
  0,
  1,
  8,
  18,
  8,
  15,
  33,
  24,
  19,
  84,
  'B+'],
 ['19-40836-2',
  'MD. ARMAN UDDIN',
  1,
  1,
  1,
  1,
  1,
  10,
  20,
  14,
  20,
  40,
  24,
  19,
  93,
  'A+'],
 ['19-40877-2',
  'ABDUL MAJID',
  1,
  1,
  1,
  1,
  1,
  10,
  10,
  8,
  15,
  25,
  18,
  20,
  73,
  'C+'],
 ['19-40948-2',
  'S. M. A. WASEI',
  1,
  1,
  1,
  1,
  1,
  10,
  20,
  10,
  11,
  31,
  17,
  20,
  78,
  'B'],
 ['19-41059-2',
  'BHUIYAN SAAD BIN MOBARAK',
  1,
  1,
  1,
  1,
  1,
  10,
  20,
  8,
  14,
  34,
  20,
  20,
  84,
  'B+'],
 ['19-41258-3',
  'RAIHAN UDDIN',
  1,
  1,
  1,
  1,
  1,
  10,
  20,
  12,
  20,
  40,
  24,
  20,
  94,
  'A+'],
 ['19-41275-3',
  'FARDIN HASAN KHAN',
  1,
  1,
  1,
  1,
  1,
  10,
  8,
  12,
  17,
  29,
  21,
  20,
  80,
  'B+'],
 ['19-41284-3',
  'MD. IBNA JAHID HASSAN',
  1,
  1,
  1,
  1,
  1,
  10,
  18,
  14,
  15,
  33,
  24,
  19,
  86,
  'A'],
 ['19-41341-3',
  'MOHIM BHOWMICK',
  1,
  1,
  1,
  1,
  1,
  10,
  14,
  10,
  15,
  29,
  12,
  18,
  69,
  'C'],
 ['19-41348-3',
  'MD. MAHFUZUR RAHMAN',
  1,
  1,
  1,
  1,
  1,
  10,
  16,
  14,
  17,
  33,
  18,
  20,
  81,
  'B+'],
 ['19-41450-3',
  'ABDULLAH AL MAMUN SHUVO',
  1,
  1,
  1,
  1,
  1,
  10,
  14,
  12,
  8,
  26,
  15,
  19,
  70,
  'C+'],
 ['19-41479-3',
  'BIJON SAHA',
  1,
  1,
  1,
  1,
  1,
  10,
  20,
  10,
  20,
  40,
  21,
  20,
  91,
  'A+'],
 ['19-41516-3',
  'KASIRA - TUT- TARFI',
  1,
  1,
  1,
  1,
  1,
  10,
  20,
  14,
  20,
  40,
  24,
  20,
  94,
  'A+']]

In [105]:
df = pd.DataFrame(data=result, columns=["Student ID", "Name", "Week 1 LAB", "Week 1 Theory", "Week 2 Theory", "Week 4 LAB(Makeup)", "Week 5 LAB", "Attendance Marks", "Quiz1", "Quiz2", "Quiz3", "Quiz Total", "Lab Exam", "Assignment", "Total Marks", "Grade"])
print(df)
df.to_excel (r'FinalGradeSheet.xlsx', index = False, header=True)

    Student ID                      Name  Week 1 LAB  Week 1 Theory  \
0   17-34409-1             KHALID MASRUR           1              1
1   17-34746-2       SANJADUL ALOM PIYAS           0              0
2   17-35536-3            SUMNOON-E-TAHA           1              1
3   17-35672-3        MEHEDI HASAN NILOY           1              1
4   17-35677-3          MUHAMMAD AL AMIN           1              1
5   18-37027-1            KHAN MD. EHSAN           0              1
6   18-37051-1   HIZBULLAH ATIK SIDDIQUE           1              1
7   18-37144-1        JAFRIN MONSUR KHAN           1              1
8   18-37827-2         MD. FARHAN TANVIR           1              1
9   18-37912-2              SAZZAD HASAN           1              1
10  18-38923-3     MEHRAB HOSSAIN SHARAN           1              1
11  18-39130-3            MD. RATUL AMAN           1              1
12  18-39243-3         MD. IMRAN HOSSAIN           1              1
13  19-39342-1  MD. ASIKUR RAHMAN SAUMIK           1              1
14  19-39434-1           MD. SAMIN ANJUM           1              1
15  19-39458-1             NURA YEASDANI           1              1
16  19-39573-1              LAMIA MANNAN           1              1
17  19-39674-1     TAHMID SHAHRIAR ARNOB           1              1
18  19-40055-1         ISHRAK AHMED ASIF           1              1
19  19-40186-1              MOHAMMAD ALI           1              1
20  19-40194-1           HASIBUL HASSAIN           1              1
21  19-40223-1      ASIF IQBAL BIN HARUN           1              1
22  19-40255-1                SAIF HAQUE           1              1
23  19-40296-1        MD. AL-EMRAN PARAG           1              1
24  19-40359-1    MOHAMMAED HASIB PRANTO           1              1
25  19-40544-1        READOAN KHAN RATUL           1              1
26  19-40677-1           MD MEHRAB SADIK           1              0
27  19-40683-1      TAMIM SULTANA ONKITA           1              1
28  19-40703-1  REHENUMA TABASSUM MEGHLA           1              1
29  19-40751-1        MD. MAHMUDUL HASAN           1              1
30  19-40804-2      SAFIQUL ISLAM SOIKAT           1              1
31  19-40836-2           MD. ARMAN UDDIN           1              1
32  19-40877-2               ABDUL MAJID           1              1
33  19-40948-2            S. M. A. WASEI           1              1
34  19-41059-2  BHUIYAN SAAD BIN MOBARAK           1              1
35  19-41258-3              RAIHAN UDDIN           1              1
36  19-41275-3         FARDIN HASAN KHAN           1              1
37  19-41284-3     MD. IBNA JAHID HASSAN           1              1
38  19-41341-3            MOHIM BHOWMICK           1              1
39  19-41348-3       MD. MAHFUZUR RAHMAN           1              1
40  19-41450-3   ABDULLAH AL MAMUN SHUVO           1              1
41  19-41479-3                BIJON SAHA           1              1
42  19-41516-3       KASIRA - TUT- TARFI           1              1

    Week 2 Theory  Week 4 LAB(Makeup)  Week 5 LAB  Attendance Marks  Quiz1  \
0               0                   1           1                 8      0
1               1                   1           1                 6     12
2               1                   1           1                10     14
3               1                   1           1                10     12
4               1                   1           1                10     16
5               0                   0           1                 4      0
6               1                   1           1                10     12
7               1                   1           1                10     12
8               1                   1           1                10     14
9               1                   1           1                10     14
10              1                   1           1                10     14
11              1                   1           1                10     12
12              1                   1           1                10     14
13              1                   1           1                10     18
14              1                   0           1                 8      0
15              1                   1           1                10     16
16              1                   0           1                 8     12
17              1                   0           0                 6     18
18              1                   1           1                10     10
19              1                   1           1                10     10
20              1                   1           1                10     14
21              1                   1           1                10     20
22              1                   1           1                10     12
23              1                   1           1                10     14
24              1                   1           1                10     18
25              1                   1           1                10     18
26              1                   0           1                 6     14
27              1                   1           1                10     14
28              1                   1           1                10     16
29              1                   1           1                10     10
30              1                   0           1                 8     18
31              1                   1           1                10     20
32              1                   1           1                10     10
33              1                   1           1                10     20
34              1                   1           1                10     20
35              1                   1           1                10     20
36              1                   1           1                10      8
37              1                   1           1                10     18
38              1                   1           1                10     14
39              1                   1           1                10     16
40              1                   1           1                10     14
41              1                   1           1                10     20
42              1                   1           1                10     20

    Quiz2  Quiz3  Quiz Total  Lab Exam  Assignment  Total Marks Grade
0       8     17          25        18          17           68     C
1       6     15          27        21          15           69     C
2      12     15          29        18          20           77     B
3      12     15          27        21          19           77     B
4      14     15          31        24          19           84    B+
5       0     15          15        21          17           57     D
6      10     12          24        15          19           68     C
7      12     13          25        24          17           76     B
8      14     11          28         9          19           66     C
9      12      9          26        21          18           75     B
10     14     15          29        15          18           72    C+
11     10     14          26        15          20           71    C+
12      8     17          31        18          20           79     B
13     16     20          38        15          20           83    B+
14     16      0          16        21          19           64    D+
15     18     14          34        10          20           74    C+
16     10     15          27        18          20           73    C+
17      0     15          33        15          16           70    C+
18     16     15          31        15          19           75     B
19     16     15          31        21          19           81    B+
20      0     15          29        18          20           77     B
21     14     17          37        10          20           77     B
22     16     15          31        15          18           74    C+
23     12     15          29        15          18           72    C+
24     14     17          35        12          20           77     B
25      0     12          30        18          19           77     B
26      8     18          32        21          12           71    C+
27      6     15          29        21          18           78     B
28      6     18          34        21          17           82    B+
29     14     15          29        21          18           78     B
30      8     15          33        24          19           84    B+
31     14     20          40        24          19           93    A+
32      8     15          25        18          20           73    C+
33     10     11          31        17          20           78     B
34      8     14          34        20          20           84    B+
35     12     20          40        24          20           94    A+
36     12     17          29        21          20           80    B+
37     14     15          33        24          19           86     A
38     10     15          29        12          18           69     C
39     14     17          33        18          20           81    B+
40     12      8          26        15          19           70    C+
41     10     20          40        21          20           91    A+
42     14     20          40        24          20           94    A+